/NhlStatistics1/.gradle/
/NhlStatistics1/build/
/Viikko2 Verkkokauppa ja muut/Verkkokauppa1/build/
/Viikko3/HelloCucumber/build/
/Viikko3/LoginCucumber/build/
/Viikko3/WebLogin/salasanat.txt
/Viikko4/MockitoDemo/build/
/Viikko4/MaksukorttiMockito/build/
/Viikko4/IntJoukkoSovellus/build/
/Viikko4/Tennis/build/
/Viikko6/QueryLanguage/build/